<!-- <div class="navButton">
    <button class="btn btn-primary">Input</button>
    <button class="btn btn-primary">Output</button>
</div> -->


    
<nav class="navbar navbar-expand-lg">
    <div class="container-fluid text-center border-0 p-2">
      <a class="navbar-brand" style="color: rgb(38 255 219);" href="#"><b>Assignment</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="container-button justify-content-start" style="background-color: aliceblue;">

            <button  type="button" class="btn btnToogle" onclick="window.location.reload()" (click)="InputToggle()" [ngClass]="{'btn-active': isActive}">INPUT</button>
            <button  type="button" class="btn btnToogle" (click)="OutputToggle()" [ngClass]="{'btn-active': !isActive}">OUTPUT</button>
          </form>

       <!--  <div class="navEx">
                 <button class="btn btn-primary float-right">Exercise 2</button> 
              
        </div>-->
        <!-- <form class="searchButton d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>

  <div class="headernav" *ngIf="inputChart">
    <div class="belowNavbar column">
        <p class="topic-item" href="#"><b>Country Fuel Capacities</b></p>
<div class="dropDownBar col-md-7">
  <div class="regionDiv ">
    <span><b> Region:</b></span>
    <select (change)="onChangeRegionEvent($event)" class="form-select form-select-sm d-inline-block"
        aria-label=".form-select-sm example">
        <option *ngFor="let region of allRegionsList; let i = index" [value]="region">
            {{region}}
        </option>
    </select>
  </div>

  <div class="cityDiv ">
    <span><b>City:</b></span>
  <select (change)="onChangeCityEvent($event)" class="form-select form-select-sm "
      aria-label=".form-select-sm example">
      <option *ngFor="let city of selectedRegionCitiesList; let i=index" [value]="city">{{city}}
      </option>
  </select>
  </div>

  <div class="yearDiv ">
    <span><b> Year:</b></span>
  <select (change)="onChangeYearEvent($event)" class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option *ngFor="let year of selectedCityYearsList"  [value]="year">{{year}}</option>
  </select>
  </div>

</div>
</div>

    <!-- <div class="CardStyleActive">
        <div _ngcontent-gwv-c51="" class="d-flex p-4 rounded-bottom cardStyleActive">
            <div _ngcontent-gwv-c51="" class="col-12 border rounded pr-2 cardStyle">
                <div _ngcontent-gwv-c51="" id="chartdiv" style="width: 100%; height: 33.4rem;">
                    <div style="position: relative; height: 100%;">
                        <div style="position: absolute; width: 1395px; height: 534px;"><div>
                        <canvas width="1743" height="667" style="position: absolute; top: 0px; left: 0px; width: 1395px; height: 534px;"></canvas>
                        </div>
                        </div>
                    </div>
                </div>
             </div>
            <div _ngcontent-gwv-c51="" class="p-2"></div>
        </div>
        

    </div> -->

    <!-- <div class="col-md-4 d-flex align-items-center typebtns">
      <div class="nav-btn-container" style="border: solid 1px #eee; padding: 4px;
        border-radius: 9px;">
        <button routerLink="/home" (click)="changeViewType('model')" type="button" class="btn p-2 border-0"
          style="border-radius:5px" [ngClass]="{'btn-active' : viewType == 'model' }">Explore Models</button>
        <button routerLink="/chatgpt" (click)="changeViewType('chatgpt')" type="button" class="btn p-2 border-0"
          style="border-radius:5px" [ngClass]="{'btn-active' : viewType == 'chatgpt' }">Explore
          Insights</button>
      </div>
    </div> -->
<!-- 
   <app-input *ngIf="isActive"></app-input>
    <app-output *ngIf="!isActive"></app-output> 
    <app-input></app-input> -->
    

  </div>
  <div class="containerOI">
    <app-input  *ngIf="isActive"></app-input>
    <app-output *ngIf="!isActive"></app-output>
</div>




  