.grcnav {
    color: #ffffff;
    background-color: #24246a;
    padding: 16px 1px 4px 15px;
    font-size: 20px;
    margin: 0px 50px;
    height: 3.5rem;
    font: 1.2em Verdana;
}
.outputChartTable{
  /* margin: 47px; */
  background-color: #24246a;
}
.scrollingLeft{
  margin-right: 6rem;
}
.cards{
  height: 13px;
  width: 35%;
  /* background-color: #e5edf4; */

}

.outputChart {
    width: 1063px;
    height: 512px;
    border: 1px solid #cbcccf;
    margin-left: 4rem;
    
}
.dataGraph{ 
    background-color: rgb(61 77 138);
    /* margin: 2rem 36rem;*/
    margin-left: 4rem; 
    height: 28rem;
    width: 49rem;
    
}
.graph {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  
  .graph .cardBody{
    padding: 20px 30px;
  }
    
  th,td {
    justify-content: center;
    align-items: center; 
    padding: 6px 44px;
    border: 1px solid ; 
    display: table-caption;

  }
  /* .tableCon, tableCap{
    flex-direction: column;

  } */

  .table, tbody {
    display: flex;
     /* margin-bottom: 0;
    border: 1px;
    table-layout: auto;
    width: 150px;  */
  }
  
  .form-range::-webkit-slider-runnable-track {
    background-color: rgb(46, 96, 245);
  }
  .compBody{
    background-color: rgb(61 77 138);
    color: #f4f4f4;
    border: 1px solid #f4f4f4;
    padding: 12px;
    width: 55rem;
    height: 83%;
    margin-left: 21px;
    border-radius: 1rem;
    margin-top: -21px;
  }
  .cardHeadBody{
    /* border-left: 2px solid #ffff; */
    margin-right: 33px;
  }
  .compHeader{
    /* background-color: #c4c9f9; */
    padding: 12px;
    font: 1.5em Verdana;
    margin: 2px;
    color: #fefeff;

  }
  /* .ConfSelect{
    margin: 28px;
  } */
.columnTable{
    margin: 3rem; 
    border-style: solid;
    vertical-align: inherit;
    height: 356px;
    width: 75%;
    margin-top: 50px;
    padding-top: 16px;
    overflow-y: scroll;
    color: #f4f4f4;
    background-color: rgb(61 77 138);
}
.RangeComp{
 
}
.DevelopedBy{
  background-color: rgb(10 24 80);
  height: 5rem;
  text-align: center;
  padding: 28px;
  color: #fefeff;
}
.form-select-sm{
  border-radius: 20px;
    border: 1px solid #5e43f4;
}
.ConfigCapacity{
  margin: 3rem;
  background-color: rgb(10 24 80);
  border-radius: 10px;
  border: 1px solid #fff;
  margin-top: 2rem;
}
.containerOI{
  background-color: #24246a;
 
}
.outGraphNav{

}