.graphData{ 
    background-color: rgb(202, 217, 251);
    margin: 0px 68px;
    
}
.DevelopedBy{
    background-color: #aebafe;
    height: 5rem;
    color: #979ec1;
    text-align: center;
    padding: 28px;
    color: #052efb;
}
