.graphData{ 
    background-color: rgb(61 77 138);
    margin: -6px 68px;
    
}
.DevelopedBy{
    background-color: #1a2249;
    height: 5rem;
    text-align: center;
    padding: 28px;
    color: #fefeff;
}
